{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-success">Exibição de Angiospermas</h1>

    </div>



<div class="table-responsive">
    <table class="table table-hover align-middle shadow-sm rounded">
        <thead class="table-dark text-center">
        <tr>
            <th>ID</th>
            <th>Espécie</th>
            <th>Família</th>
            <th>Nome Popular</th>
            <th>Habitat</th>
            <th>Situação</th>
            <th>Ações</th>
            <th>Informações</th>
        </tr></thead>
        <tbody>
        {% for planta in plantas %}
        <tr class="text-center">
            <td>{{ planta.id }}</td>
            <td>{{ planta.especie }}</td>
            <td>{{ planta.familia }}</td>
            <td>{{ planta.nome_popular }}</td>
            <td>{{ planta.habitat }}</td>
            <td>{{ planta.situacao }}</td>
            <td>
                <a href="{{ url_for('main.editar', id=planta.id) }}" class="btn btn-sm btn-outline-primary me-2">Editar</a>
                <form action="{{ url_for('main.deletar', id=planta.id) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Tem certeza que deseja excluir?')">Deletar</button>
                </form>
            </td>
            <td>
                <a href="{{ url_for('main.info', id=planta.id) }}" class="btn btn-sm btn-outline-info">Ver</a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginação -->
<nav aria-label="Paginação de plantas">
    <ul class="pagination justify-content-center mt-4">
        {% if page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.index', page=page - 1) }}">Anterior</a>

        </li>
        {% endif %}

        {% for p in range(1, total_pages + 1) %}
        <li class="page-item {% if p == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('main.index', page=p) }}">{{ p }}</a>

        </li>
        {% endfor %}

        {% if page < total_pages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('main.index', page=page + 1) }}">Próxima</a>

        </li>
        <{% endif %}
    </ul>
</nav>
</div>
{% endblock %}
